/* app css stylesheet */

/* For bootstrap (viz. http://angular-ui.github.io/bootstrap/) */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.seq {
  font-family: Andale Mono, monospace;
  word-wrap: break-word;
}

.exon {
    background: #cce9ca;
}

.transcript {
    text-decoration: underline;
}

.gene {
    font-style: italic;
}

.qual0 {
  color: #ececec;
}

.qual21 {
  color: #e6e6e6;
}

.qual22 {
  color: #e3e3e3;
}

.qual23 {
  color: #dfdfdf;
}

.qual24 {
  color: #dcdcdc;
}

.qual25 {
  color: #d9d9d9;
}

.qual26 {
  color: #d5d5d5;
}

.qual27 {
  color: #d2d2d2;
}

.qual28 {
  color: #cfcfcf;
}

.qual29 {
  color: #cbcbcb;
}

.qual30 {
  color: #c8c8c8;
}

.qual31 {
  color: #c5c5c5;
}

.qual32 {
  color: #c1c1c1;
}

.qual33 {
  color: #bebebe;
}

.qual34 {
  color: #bbbbbb;
}

.qual35 {
  color: #b7b7b7;
}

.qual36 {
  color: #b4b4b4;
}

.qual37 {
  color: #b1b1b1;
}

.qual38 {
  color: #adadad;
}

.qual39 {
  color: #aaaaaa;
}

.qual40 {
  color: #a7a7a7;
}

.qual41 {
  color: #a3a3a3;
}

.qual42 {
  color: #a0a0a0;
}

.qual43 {
  color: #9d9d9d;
}

.qual44 {
  color: #999999;
}

.qual45 {
  color: #969696;
}

.qual46 {
  color: #939393;
}

.qual47 {
  color: #8f8f8f;
}

.qual48 {
  color: #8c8c8c;
}

.qual49 {
  color: #898989;
}

.qual50 {
  color: #858585;
}

.qual51 {
  color: #828282;
}

.qual52 {
  color: #7f7f7f;
}

.qual53 {
  color: #7b7b7b;
}

.qual54 {
  color: #787878;
}

.qual55 {
  color: #757575;
}

.qual56 {
  color: #717171;
}

.qual57 {
  color: #6e6e6e;
}

.qual58 {
  color: #6a6a6a;
}

.qual59 {
  color: #676767;
}

.qual60 {
  color: #646464;
}

.qual61 {
  color: #606060;
}

.qual62 {
  color: #5d5d5d;
}

.qual63 {
  color: #5a5a5a;
}

.qual64 {
  color: #565656;
}

.qual65 {
  color: #535353;
}

.qual66 {
  color: #505050;
}

.qual67 {
  color: #4c4c4c;
}

.qual68 {
  color: #494949;
}

.qual69 {
  color: #464646;
}

.qual70 {
  color: #424242;
}

.qual71 {
  color: #3f3f3f;
}

.qual72 {
  color: #3c3c3c;
}

.qual73 {
  color: #383838;
}

.qual74 {
  color: #353535;
}

.qual75 {
  color: #323232;
}

.qual76 {
  color: #2e2e2e;
}

.qual77 {
  color: #2b2b2b;
}

.qual78 {
  color: #282828;
}

.qual79 {
  color: #242424;
}

.qual80 {
  color: #212121;
}

.qual81 {
  color: #1e1e1e;
}

.qual82 {
  color: #1a1a1a;
}

.qual83 {
  color: #171717;
}

.qual84 {
  color: #141414;
}

.qual85 {
  color: #101010;
}

.qual86 {
  color: #ddd;
}

.qual87 {
  color: #aaa;
}

.qual88 {
  color: #666;
}

.qual89 {
  color: #333;
}

.qual90 {
  color: #000;
}
