/* app css stylesheet */

/* For bootstrap (viz. http://angular-ui.github.io/bootstrap/) */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.seq {
  font-family: Andale Mono, monospace;
  word-wrap: break-word;
}

.seqFrag {
  letter-spacing: 0em;
}

.exon {
    background: #cce9ca;
}

.transcript {
    text-decoration: underline;
}

.gene {
    font-style: italic;
}

.primer {
    font-style: bold;
}

.primer-left {
  background: #ffbbbb;
}

.primer-left.lit {
  background: #ff7777;
}

.primer-right {
  background: #bbffbb;
}

.primer-right.lit {
  background: #66ff66;
}

.primer-product-0 {
  font-style: bold;
}

.q0 {
  color: #eaeaea;
}

.q1 {
  color: #e7e7e7;
}

.q2 {
  color: #e4e4e4;
}

.q3 {
  color: #e2e2e2;
}

.q4 {
  color: #dfdfdf;
}

.q5 {
  color: #dddddd;
}

.q6 {
  color: #dadada;
}

.q7 {
  color: #d7d7d7;
}

.q8 {
  color: #d5d5d5;
}

.q9 {
  color: #d2d2d2;
}

.q10 {
  color: #d0d0d0;
}

.q11 {
  color: #cdcdcd;
}

.q12 {
  color: #cacaca;
}

.q13 {
  color: #c8c8c8;
}

.q14 {
  color: #c5c5c5;
}

.q15 {
  color: #c3c3c3;
}

.q16 {
  color: #c0c0c0;
}

.q17 {
  color: #bdbdbd;
}

.q18 {
  color: #bbbbbb;
}

.q19 {
  color: #b8b8b8;
}

.q20 {
  color: #b6b6b6;
}

.q21 {
  color: #b3b3b3;
}

.q22 {
  color: #b0b0b0;
}

.q23 {
  color: #aeaeae;
}

.q24 {
  color: #ababab;
}

.q25 {
  color: #a9a9a9;
}

.q26 {
  color: #a6a6a6;
}

.q27 {
  color: #a3a3a3;
}

.q28 {
  color: #a1a1a1;
}

.q29 {
  color: #9e9e9e;
}

.q30 {
  color: #9c9c9c;
}

.q31 {
  color: #999999;
}

.q32 {
  color: #969696;
}

.q33 {
  color: #949494;
}

.q34 {
  color: #919191;
}

.q35 {
  color: #8f8f8f;
}

.q36 {
  color: #8c8c8c;
}

.q37 {
  color: #898989;
}

.q38 {
  color: #878787;
}

.q39 {
  color: #848484;
}

.q40 {
  color: #828282;
}

.q41 {
  color: #7f7f7f;
}

.q42 {
  color: #7c7c7c;
}

.q43 {
  color: #7a7a7a;
}

.q44 {
  color: #777777;
}

.q45 {
  color: #757575;
}

.q46 {
  color: #727272;
}

.q47 {
  color: #6f6f6f;
}

.q48 {
  color: #6d6d6d;
}

.q49 {
  color: #6a6a6a;
}

.q50 {
  color: #686868;
}

.q51 {
  color: #656565;
}

.q52 {
  color: #626262;
}

.q53 {
  color: #606060;
}

.q54 {
  color: #5d5d5d;
}

.q55 {
  color: #5b5b5b;
}

.q56 {
  color: #585858;
}

.q57 {
  color: #555555;
}

.q58 {
  color: #535353;
}

.q59 {
  color: #505050;
}

.q60 {
  color: #4e4e4e;
}

.q61 {
  color: #4b4b4b;
}

.q62 {
  color: #484848;
}

.q63 {
  color: #464646;
}

.q64 {
  color: #434343;
}

.q65 {
  color: #414141;
}

.q66 {
  color: #3e3e3e;
}

.q67 {
  color: #3b3b3b;
}

.q68 {
  color: #393939;
}

.q69 {
  color: #363636;
}

.q70 {
  color: #343434;
}

.q71 {
  color: #313131;
}

.q72 {
  color: #2e2e2e;
}

.q73 {
  color: #2c2c2c;
}

.q74 {
  color: #292929;
}

.q75 {
  color: #272727;
}

.q76 {
  color: #242424;
}

.q77 {
  color: #212121;
}

.q78 {
  color: #1f1f1f;
}

.q79 {
  color: #1c1c1c;
}

.q80 {
  color: #1a1a1a;
}

.q81 {
  color: #171717;
}

.q82 {
  color: #141414;
}

.q83 {
  color: #121212;
}

.q84 {
  color: #0f0f0f;
}

.q85 {
  color: #0d0d0d;
}

.q86 {
  color: #0a0a0a;
}

.q87 {
  color: #070707;
}

.q88 {
  color: #050505;
}

.q89 {
  color: #020202;
}

.q90 {
  color: #000000;
}
