<div class="row" style="text-align: center">

  <div class="form-group">
    <input type="text"
	   ng-model="gene_name"
	   size="14"
	   placeholder="Gene name">
    <span ng-hide="gene"><p> e.g. SPU_013015 or SPU_022066</p></span>
    <span ng-show="gene"><p>is on {{gene.scaffold}} from {{gene.span[0]}} to {{gene.span[1]}}</p></span>
    <span ng-show="gene">
      <p>Start
	<input
	   type="number"
	   min="0"
	   max="{{gene.end}}"
	   step="1000"
	   ng-model="desired_sequence_span[0]" size="8">
	= {{gene.span[0] - desired_sequence_span[0]}} from {{gene.span[0]}}
	| {{gene.span[1]}} = {{desired_sequence_span[1] - gene.span[1]}} to
	<input
	   type="number"
	   min="{{gene.start}}"
	   max="1000000"
	   step="1000"
	   ng-model="desired_sequence_span[1]" size="8"> End
      </p>
    </span>

    <form ng-show="gene" ng-submit="makePrimers()">
      <p>
	target span: <input type="number"
			    ng-model="prime.target_primer_span"
			    min="1"
			    max="10000"
			    placeholder="span">bp,
	minimum span: <input type="number"
			     ng-model="prime.minimum_primer_span"
			     min="1"
			     max="10000"
			     placeholder="span">bp,
	max span: <input type="number"
			 ng-model="prime.maximum_primer_span"
			 min="1"
			 max="10000"
			 placeholder="max span">bp,
	min overlap: <input type="number"
			    ng-model="prime.minimum_overlap"
			    min="0"
			    max="10000"
			    placeholder="min overlap">bp,
	fuzz: <input type="number"
		     ng-model="prime.fuzz"
		     min="0"
		     max="5000"
		     placeholder="fuzz">bp<br/>
      </p>
      <input class="btn"
	     type="submit"
	     ng-class="settings.primeButtonClasses"
	     value="{{settings.primeButtonText}}"
	     style="visibility:show">
    </form>
  </div>
</div>
<div class="row" style="text-align: left">
  <div class="col-xs-12 col-lg-12" ng-show="gene">
    <p ng-show="gene">See it on
      <a href="http://www.echinobase.org/Echinobase/JBrowse-1.10.9/index.html?data=data_sp&loc={{gene.scaffold}}%3A{{sequence_span_to_examine[0]}}..{{sequence_span_to_examine[1]}}&tracks=DNA%2CGLEAN%2CTranscriptome%2Ccontig%2CeBAC"
	 target="_blank">JBrowse</a></p>

    <tabset>
      <tab heading="Sequence">
	<p>Legend:
	  <span class="seq">
	    <span class="gene">GENE</span>
	    <span class="transcript">TRANSCRIPT</span>
	    <span class="exon">EXON</span>
	  </span>
	</p>
	<format-tree tree="gene"
		     sequence-info="sequence_info"
		     ppp-list="pppList"
		     update-counter="tv.treeUpdates">
	</format-tree>
      </tab>
      <tab heading="Primers" ng-show="primer_report_info">
	<form>
	  Make primer names start with:
	  <input ng-model="settings.primerNameHead">
	</form>
	<form ng-show="primer_order_contents"
	      ng-submit="downloadPrimerOrder()">
	  Download to file:&nbsp;
	  <input type="text" ng-model="settings.downloadFileBasename"
		 size="14" placeholder="file name">
	  {{settings.downloadFileSuffix}}
	  <input class="btn"
		 type="submit"
		 value="Now"
		 style="visibility:show">
	</form>
	<pre>{{primer_order_contents}}</pre>
	<!--ul class="list-unstyled seq"-->
	<!--table class="table table-bordered table-condensed">
	  <tr>
	    <td>
	</table-->
      </tab>
<!--      <tab heading="Gene {{gene.name}}" ng-show="gene">
	  <pre style="text-align: left" ng-show="gene">{{gene | json}}</pre>
      </tab> -->
      <tab heading="Debug">
	desired sequence span: {{desired_sequence_span | json}}<br/>
	excluded spans: {{prime.excluded_spans | json}}<br/>
	primer windows: {{prime.primer_windows | json}}<br/>
	tv: {{tv | json}}<br/>
      </tab>
    </tabset>
  </div>
</div>
