<p>This is the partial for view 4.</p>

<form ng-submit="getContextInformation()">
  <input type="text" ng-model="gene_name" size="14" placeholder="Gene name"> e.g. SPU_013015 or SPU_022066
  margin: <input ng-model="margin" type="number" min="0" max="100000" placeholder="margin">
  <input class="btn-primary" type="submit" value="do" style="visibility:hidden">
</form>

<form ng-submit="angular.noop()">
  target span: <input type="number" ng-model="target_span" min="1" max="10000" placeholder="span">
  max span: <input type="number" ng-model="max_span" min="1" max="10000" placeholder="max span">
  min overlap: <input type="number" ng-model="min_overlap" min="0" max="10000" placeholder="min overlap">
  fuzz: <input type="number" ng-model="fuzz" min="0" max="5000" placeholder="fuzz">
  <input class="btn-primary" type="submit" value="make primers" style="visibility:show">
</form>

<span ng-show="gene.start">Start: {{gene.start}}</span>

<p ng-show="scaffold">{{scaffold}} from {{start}} to {{end}}</p>
<pre>{{serverError}}</pre>
<p>See it on
  <a href="http://www.echinobase.org/Echinobase/JBrowse-1.10.9/index.html?data=data_sp&loc={{scaffold}}%3A{{start}}..{{end}}&tracks=DNA%2CGLEAN%2CTranscriptome%2Ccontig%2CeBAC"
     target="_blank">JBrowse</a>
  Legend: <span class="seq"><span class="gene">GENE</span>&nbsp;<span class="transcript">TRANSCRIPT</span>&nbsp;<span class="exon">EXON</span></span>
</p>
<hr/>
<format-science sequence-info="gsi"></format-science>
<hr/>
